.CC-C-discover_container{
    display: block;
    width: 100vw;
    height: auto; 
    padding: $padding-medium $padding-none;
    background-color: $white;
    margin-bottom: $margin-medium;

    h2{
        padding-bottom: $padding-large;
        color: $black;
        letter-spacing: 2.5px;
        width: fit-content;
        margin: auto;
    }
}