.CC-L-gridList{
    display: block;
    position: relative;
    height: fit-content;
    width: 100vw;
    margin: 2rem 0rem;

    button{
        height: 3rem;
        padding: 0 5%;
        margin: auto;
        border: 1px solid $orange;
        background-color: $white;
        color: $orange;

        &:focus{
            background-color: $orange;
            color: $white;
        }

    }

    div{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: auto;
        position: relative;
        height: fit-content;
        flex-wrap: wrap;

        button{
            width: 70%;
            margin: 2rem auto;
        }
    }
}