.p-C-cocktailCard_wrapper{
    height: 35%;
    width: 45%;
    margin: 0.5rem 0.5rem;
    border-radius: 9px;
    background-color: $lightgrey;
    overflow: hidden;

    img{
        display: block;
        height: auto;
        width: 100%;
    }

    h3{
        display: block;
        width: 100%;
        height: 2rem;
        padding: 0px 10px;
        margin: 10px 0px;
        text-align: left;
        font-family: georgia;
        font-size: 1.3rem;
        font-weight: 600;
        color: $darkgrey;

        border-bottom: 1px solid $orange;
    }

    .p-C-cocktailCard-tag_alcoholic{
        display: block;
        color: white;
        width: fit-content;
        margin-left: 10px;
        padding: 2px;
        background-color: $orange;
        border-radius: 6px;
        font-size: 0.9rem;
    }

    .p-C-cocktailCard-tag_non-alcoholic{
        display: block;
        color: white;
        width: fit-content;
        margin-left: 10px;
        padding: 2px;
        background-color: $blue;
        border-radius: 6px;
        font-size: 0.9rem;

    }
}