.CC-C-cocktailCard_wrapper{
    display: inline-block;
    height: 350px;
    min-width: 180px;
    width: 180px;
    padding: $padding-large $padding-small;

    background-color: transparent;

    text-decoration: none;
    text-align: center;
    

    img{
        display: block;
        height: auto;
        width: 95%;
        margin: auto;
        margin-bottom: $margin-medium;
    }

    h4{
        display: block;
        width: auto;
        height: 70px;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: $black;
        margin-bottom: auto;

    }

    .CC-C-cocktailCard_link{
        display: block;
        height: auto; width: auto;
        padding: $padding-medium $padding-large;
        text-decoration: none;
        color: $cream;
        background-color: $chocolate;
        border: 1px solid $cream;
    }

}