.CC-C-details_container{
    width: 85%;        
    height: auto;
    min-height: 70vh;
    margin: $margin-large auto;
    padding: $padding-small $padding-none;
    text-align: left;

    @media screen and (min-width: $media-breakpoint-large){
        display: flex;
    }

    span{
        height: auto;
        @media screen and (min-width: $media-breakpoint-large){
            width: 50%;
        }
    }

    img{
        display: block;
        width: 80%;
        margin: auto;

        @media screen and (min-width: $media-breakpoint-medium) {
            width: 60%;
        }

        @media screen and (min-width: $media-breakpoint-large) {
            width: 50%;
        }
    }

    p{
        font-family: $font-family;
        line-height: $line-height-medium;
        font-size: $font-size-small;
        color: $darkgrey;
        text-align: left;
        margin: $margin-medium $margin-none;

        @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
            font-size: $font-size-medium;
            line-height: $line-height-large;
        }
    }

    label{
        color: $chocolate;
        font-family: $font-family;
        margin-bottom: $margin-small;
        font-weight: bold;
        font-size: 26px;

        @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
            font-size: 30px;
        }
    }

    ul{
        padding: $padding-medium $padding-none;

        li{
            font-family: $font-family;
            font-size: $font-size-small;
            line-height: $line-height-medium;

            @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
                font-size: $font-size-medium;
                line-height: $line-height-large;
            }
        }

        ::marker{
            color: $chocolate;
        }
    }  
}
