.CC-C-footer{
    width: 100vw;
    padding: $padding-extralarge $padding-medium;
    background-color: $chocolate;
    border-top: 2px solid $white;
    overflow: hidden;

    p{
        text-align: center;
        display: block;
        margin: $margin-extrasmall $margin-none;
        color: $white;
        text-transform: uppercase;
    }
}

.CC-C-footer_wrapper{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    
    @media screen and (min-width: $media-breakpoint-extralarge){
        width: 60%;
    }

    span{
        width: auto;
        margin-right: $margin-small;

        h4{
            display: block;
            text-align: left;
            margin: $margin-small $margin-none;
            color: $white;
        }
    
        .CC-C-footer_navLinks{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
    
            li{
                width: auto;
                list-style: none;
                margin: $margin-extrasmall $margin-none;
    
                a{
                    color: $white;
                    text-decoration: none;
    
                    &:hover{
                        color: $cream;
                        text-decoration: underline;
                        text-decoration-color: $cream;
                    }
                }
            }
        }
    
        .CC-C-footer_legal{
            height: fit-content;

            a{
                text-decoration: none;
                color: $white;
    
                &:hover{
                    color: $white;
                    text-decoration: underline;
                    text-decoration-color: $white;
                }
    
            }
        }
    }
    
}