.CC-C-header{
    display: block;
    overflow: hidden;
    position: fixed;
    z-index: 2;

    height: $header-height;
    width: 100vw;

    padding: $padding-large $padding-medium;
    justify-content: space-between;
    background-color: $chocolate;
    border-bottom: 0.5px solid $cream;

    text-align: left;


    @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
        height: $header-height-med;
    }

}

.CC-C-logo_span{
    display: inline-block;
    height: auto;
    width: 170px;
    
    margin-left: $margin-none;

    .CC-C-logo_img{
        display: block;
        height: 2.2rem;
        width: auto;
        margin: auto;

        @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait) {
            height: 3.3rem;
        }
 
    }
}

.CC-C-nav_btn_wrapper{
    float: right;
    width: auto;
    margin-top: $margin-small;

    .CC-C-nav_btn{
        display: inline-block;
        margin: $margin-none $margin-extrasmall;
        height: auto;
        background-color: transparent;
        border: none;
    
        @media screen and (min-width: $media-breakpoint-medium){
            margin: $margin-none $margin-small;
        }

        

        .FAicon{
            height: $font-size-small;
            width: $font-size-small;
            margin: auto;  
            color: $cream;

            @media screen and (min-width: $media-breakpoint-medium){
                height: $font-size-medium;
                width: $font-size-medium;
            }
        }
    }
}


.CC-C-nav_list{
    display: block;
    width: 100vw;
    height: 95vh;

    margin-top: $header-height;
    padding: $padding-small $padding-medium;
    position: fixed;
    z-index: 3;
    background-color: $cream;
    text-align: left;

    animation: slideIn 1s 0s;

    @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait) {
        padding: $padding-small $padding-large;
        margin-top: $header-height-med;
    }

    li{
        display: table;
        height: 3.7rem;
        width: 95%;
        margin: $margin-none $margin-small;
        list-style: none;

        @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
            margin: $margin-medium $margin-medium;
        }
        
        a{
            display: table-cell;
            vertical-align: middle;
            text-decoration: none;

            font-size: $font-size-small;
            font-weight: bold;
            text-transform: uppercase;
            color: $chocolate;

            @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
                font-size: $font-size-large
            }

            &:hover{
                border-bottom: 1px solid $black;            
            }
        }

    }
}

@keyframes slideIn{
    from{
        margin-left: 100%;
    }to{
        margin-left: 0%;
    }
}