.CC-C-header{
    display: flex;
    flex-direction: row;
    position: sticky;
    top:0;
    //z-index: 2;
    height: 4rem;
    width: 100vw;
    padding: 5px 5px;
    

    background-color: white;
    border-bottom: 0.5px solid $orange;
    
}

.CC-C-logo_span{
    display: inline-block;
    height: inherit;
    width: 60%; 
    margin-top: 0.5rem;
    margin-left: 20%;
    

    .CC-C-logo_img{
        display: block;
        height: 2.5rem;
        width: auto;
        margin: auto;
    }
}

.CC-C-nav_btn{
    display: inline-block;
    width: 10%;
    height: inherit;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;

    .FAicon{
        height: 1.2rem;
        width: 1.2rem;
        margin: auto;  
        color: black;
    }
}

.CC-C-nav_list{
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: fixed;
    z-index: 3;
    background-color: rgba(255,255,255, 1);
    text-align: left;


    animation: slideIn 2s 0s;
    li{
        display: table;
        height: 4rem;
        width: 95%;
        margin: 0px 10px;
        list-style: none;
        
        border-bottom: 1px solid #4a4a48;

        a{
            display: table-cell;
            vertical-align: middle;
            text-decoration: none;
            color: #4a4a48;
        }
    }
}

@keyframes slideIn{
    from{
        margin-left: 100%;
    }to{
        margin-left: 0%;
    }
}