.CC-C-header{
    height: 6rem;
    width: 95%;
    padding: 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CC-C-logo_span{
    height: 4.5rem;
    width: 50%; 

    .CC-C-logo_img{
        height: 3.5rem;
        width: auto;
    }
}

.CC-C-nav_btn{
    width: 15%;
    height: 4rem;

    background-color: transparent;
    border: none;
    font-size: 1.3rem;
}