.CC-C-hero{
    position: relative;
    display: block;

    width: 100vw;
    height: 550px;
    margin-top: $header-height;
    overflow: hidden;
    background-color: $overlay;

    border-bottom: 0.5px solid $chocolate;

    @media screen and (min-width: $media-breakpoint-small){
        height: 450px;
    }

    @media screen and (min-width: $media-breakpoint-medium){
        height: 550px; 

        @media screen and (orientation: portrait){
            height: 550px;
        }
    }

    .CC-C-hero_heading{
        display: block;
        position: relative;
        height: auto; 
        width: 100%;

        margin: auto; margin-top: 47%;
        text-shadow: 2px 2px 2px $overlay;

        text-align: center;

        @media screen and (orientation: landscape){
            margin-top: 15%;
            width: 60%;
        }
    
        @media screen and (min-width: $media-breakpoint-small) and (orientation: portrait){
            margin-top: 35%;
        }
        

        h2{
            color: $white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            padding-bottom: $padding-small;
            border-bottom: 1px solid $white;
            text-transform: uppercase;
            letter-spacing: 2px;
            animation: slide-from-left 2.5s 0s;

            @media screen and (min-width: $media-breakpoint-large) {
                padding-bottom: $padding-medium;
                font-size: 36px;
                line-height: 40px;
            }

        }


        h4{
            font-weight: 300;
            padding: $padding-medium;
            color: $white;
            animation: slide-from-left 2.5s 0s;
        }

        button{
            display: block;
            height: 3rem;
            width: 10rem;
            margin: $margin-small auto;

            background-color: $white;
            border: 1px solid $chocolate;
            box-shadow: 5px 5px 10px $overlay;

            color: $chocolate;
            font-size: $font-size-small;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;

            animation: slide-from-right 2.5s 0s;

            @media screen and (min-width: $media-breakpoint-medium) {
                padding: $padding-medium $padding-extralarge;
            }

            &:hover{
                background-color: $whiteOverlay;
                color: $white;
                border-color: $chocolate;
                font-weight: 400;
            }
        }
    }
}

@keyframes slide-from-left {
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(0%);
    }
}

@keyframes slide-from-right {
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
}

.CC-C-backgroundImg{
    display: block;
    position: fixed;
    height: 100%;
    width: 100vw;
    
    z-index: -1;
    overflow: hidden;

    @media screen and (orientation: landscape){
        height: 100%;
    }

    @media screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
        height: 600px;
    }

    img{
        height: 100%;

        @media screen and (orientation: landscape){
            width: 100%;
            height: auto;
        }

        @media screen and (min-width: $media-breakpoint-small){
            width: 130%;
            height: auto;
        }

        @media screen and (min-width: $media-breakpoint-medium){
            width: 120%;

            @media screen and (orientation: portrait){
                width: 140%;
            }
        }
    
    }
}