.CC-C-randomCocktailGenerator_container_wrapper{
    display: block;
    height: auto;
    width: 95vw;
    overflow-x: hidden;
    margin: 2rem auto;
    

    h4{
        display: block;
        width: 89%;
        margin: auto;
        margin-bottom: 2rem;

        line-height: 1.6rem;
        font-size: 1.2rem;
        font-weight: 300;
        color: $darkgrey;
        text-align: center;
    }

    .CC-C-randomCocktailGenerator_container{
        display: block;
        height: auto;
        width: 90%;
        margin: 1rem auto;
        //border: 1px solid $orange;
        background-color: white;
        color: $darkgrey;

        h2{
            text-align: center;
            font-size: 2rem;
            line-height: 2.2rem;
        }
        
        img{
            display: block;
            width: 80%;
            height: auto;
            margin: 1rem auto;
        }

        ul{
            margin-bottom: 1.5rem;
            line-height: 1.7rem;
            list-style: square;

            li{
                font-size: 1.1rem;
            }

            ::marker{
                color: $orange;
            }
        }

        label{
            display: block;
            margin-bottom: 0.7rem;
            font-weight: bold;
            font-size: 1.3rem;
            //color: $orange;
        }

        p{
            line-height: 1.7rem;
            font-size: 1.1rem;
        }

    }


    .button{
        display: block;
        height: 4rem;
        width: 50%;
        margin: 1.5rem auto;

        background-color: $orange;
        color: white;
        font-size: 1.2rem;
        border: 1px solid $white;

        &:hover{
            color: $orange;
            background-color: $white;
            border: 1px solid $orange;
        }
    }
}