.CC-C-search_wrapper{
    height: 100vh;
    width: 100%;

    margin-top: $header-height;
    background: $white;

    .CC-C-search_container{
        display: flex;
        width: 91%;
        padding: $padding-large $padding-none;
        margin: auto;
        height: auto;

        input[type="text"]{
            display: inline-block;
            height: 3rem;
            width: 270px;
            border: 1px solid $chocolate;
            padding: $padding-small;
            font-size: 1rem;
            color: $black;

            &:focus{
                outline: 1px solid $chocolate;
                border: 1px solid $chocolate;
            }
        }

        
    }
    button{
            width: 40px;
            height: 3rem;
            background-color: $white;
            border: 1px solid $chocolate;
            color: $chocolate;
            margin-right: $margin-extrasmall;
        }

    .CC-C-search_filterBtn{
        float: right;
        margin-right: $margin-medium;
        height: 2rem;
        background-color: $chocolate;
        color: $cream;
    }

    .CC-C-filters_container{
        display: flex;
        flex-direction: column;

        width: 90%;
        padding: $padding-none $padding-large;
    }
}