.display_none{
    display: none;
}

.display_block{
    display:block;
}

.display_inline-block{
    display: inline-block;
}

.overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: inherit;
    height: inherit;

    background-color: $overlay;
}

.overflow_hidden{
    overflow-y: hidden;
}