$orange: rgba(251,87,55,255);
$orangeBackground: rgba(251,87,55,0.1);
$blue: #28c4c7;
$white: rgb(255,255,255);
$whiteOverlay: rgba(255, 255, 255, 0.3);
$lightgrey: rgb(246, 248, 246);
$overlay: rgba(20, 8, 8, 0.4);
$chocolate: rgb(75, 39, 1);
$cream: #fcfadd;
$grey: rgb(116,116,115);
$darkgrey: #2f302e;
$black: rgb(42, 42, 43)